html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  margin: 0;
}

.banner {
  position: relative;
}

.banner-content {
  position: absolute;
}

.img-flex {
  display: block;
  width: 100%;
}
