html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  margin: 0;
}

.banner {
  position: relative;
  bottom: 1rem;
}

.banner-content {
  float: left;
  position: absolute;
  text-align: left;
  overflow: hidden;
}

.img-flex {
  display: block;
  width: 100%;
  max-height: 500px;
}

h2 {
  font-size: 4rem;
  background-color: rgba(0, 0, 0, 0.5);
}

p {
  font-size: 2rem;
}
