html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
  bottom: 0;
}

.banner-content {
  padding: 1rem;
  position: relative;
  transform: translate(0%);
  z-index: 2;
}

.img-flex {
  display: block;
  position: absolute;
  left: 10px;
  width: 100%;
  z-index: 1;
}

h2 {
  font-size: 4rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  margin: 0;
}

p {
  font-size: 2rem;
}
